In [2]:
import os
import pandas as pd
import csv

In [3]:
# Store filepath in a variable
weather = "Resources/Weather_Data.csv"

In [4]:
weather_df = pd.read_csv(weather)

In [5]:
weather_df.head()

,Date,City,Country,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed
0,1577748134,Sharqpur,PK,31.46,74.10,39.2,100,90,3.00
1,1577748134,Hasaki,JP,35.73,140.83,44.6,93,75,3.36
2,1577748134,Gorele,TR,41.03,39.00,51.8,76,75,4.70
3,1577748135,Norman Wells,CA,65.28,-126.83,-13.0,83,75,2.24
4,1577748135,Arraial do Cabo,BR,-22.97,-42.02,78.8,88,11,10.29

In [6]:
wet_df = weather_df[["City", "Country", "Latitude", "Longitude", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]]

In [7]:
wet_df.head()

,City,Country,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed
0,Sharqpur,PK,31.46,74.10,39.2,100,90,3.00
1,Hasaki,JP,35.73,140.83,44.6,93,75,3.36
2,Gorele,TR,41.03,39.00,51.8,76,75,4.70
3,Norman Wells,CA,65.28,-126.83,-13.0,83,75,2.24
4,Arraial do Cabo,BR,-22.97,-42.02,78.8,88,11,10.29

In [8]:
wet_df.count()

City          553
Country       550
Latitude      553
Longitude     553
Max Temp      553
Humidity      553
Cloudiness    553
Wind Speed    553
dtype: int64

In [9]:
wet2_df = wet_df.dropna(how='any')

In [10]:
wet2_df.count()

City          550
Country       550
Latitude      550
Longitude     550
Max Temp      550
Humidity      550
Cloudiness    550
Wind Speed    550
dtype: int64

In [13]:
wet3_df=wet2_df.sort_values("City", ascending=True)

In [14]:
wet3_df.head(30)

,City,Country,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed
140,Abalak,NE,15.46,6.28,58.55,26,0,11.12
550,Abnub,EG,27.27,31.15,46.40,55,0,4.70
199,Abu Kamal,SY,34.45,40.92,51.62,61,0,12.46
527,Acapulco,MX,16.86,-99.88,86.00,70,40,2.91
382,Accra,GH,5.56,-0.21,82.40,83,20,3.36
30,Adrar,DZ,27.87,-0.29,50.00,52,0,10.29
534,Agadez,NE,16.97,7.99,59.00,28,1,4.70
332,Ahipara,NZ,-35.17,173.16,86.00,64,2,18.16
262,Airai,TL,-8.93,125.41,71.17,79,100,1.34
420,Akhmim,EG,26.56,31.74,46.40,49,48,2.24
334,Aklavik,CA,68.22,-135.01,-13.00,68,90,4.83
409,Aksay,KZ,51.17,53.01,4.24,95,1,8.57
11,Albany,US,42.65,-73.75,35.60,80,90,3.36
294,Alice Springs,AU,-23.70,133.88,84.20,51,10,8.05
5,Alofi,NU,-19.06,-169.92,84.20,89,75,11.41
193,Alta Floresta,BR,-9.87,-56.08,73.63,94,100,3.36
79,Altamira,BR,-3.20,-52.21,78.80,94,75,1.59
136,Altay,CN,47.83,88.13,15.73,96,100,2.15
314,Ambilobe,MG,-13.19,49.05,74.79,94,92,1.88
228,Ambulu,ID,-8.35,113.61,81.14,79,100,4.36
177,Ancud,CL,-41.87,-73.83,62.60,59,40,8.05
101,Antigonish,CA,45.62,-61.99,30.00,79,1,6.93
173,Antofagasta,CL,-23.65,-70.40,68.00,77,75,14.99
214,Aquiraz,BR,-3.90,-38.39,86.00,78,40,4.70
142,Arica,CL,-18.48,-70.32,71.60,73,75,4.70
58,Arlit,NE,18.74,7.39,58.12,28,0,10.16
350,Arman,RU,59.70,150.17,15.42,70,100,14.05
4,Arraial do Cabo,BR,-22.97,-42.02,78.80,88,11,10.29
410,Asosa,ET,10.07,34.53,68.99,35,55,6.78
255,Astoria,US,46.19,-123.83,48.99,93,90,3.36

In [15]:
new_index = wet3_df.reset_index(drop=True)

In [16]:
new_index.head(30)

,City,Country,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed
0,Abalak,NE,15.46,6.28,58.55,26,0,11.12
1,Abnub,EG,27.27,31.15,46.40,55,0,4.70
2,Abu Kamal,SY,34.45,40.92,51.62,61,0,12.46
3,Acapulco,MX,16.86,-99.88,86.00,70,40,2.91
4,Accra,GH,5.56,-0.21,82.40,83,20,3.36
5,Adrar,DZ,27.87,-0.29,50.00,52,0,10.29
6,Agadez,NE,16.97,7.99,59.00,28,1,4.70
7,Ahipara,NZ,-35.17,173.16,86.00,64,2,18.16
8,Airai,TL,-8.93,125.41,71.17,79,100,1.34
9,Akhmim,EG,26.56,31.74,46.40,49,48,2.24
10,Aklavik,CA,68.22,-135.01,-13.00,68,90,4.83
11,Aksay,KZ,51.17,53.01,4.24,95,1,8.57
12,Albany,US,42.65,-73.75,35.60,80,90,3.36
13,Alice Springs,AU,-23.70,133.88,84.20,51,10,8.05
14,Alofi,NU,-19.06,-169.92,84.20,89,75,11.41
15,Alta Floresta,BR,-9.87,-56.08,73.63,94,100,3.36
16,Altamira,BR,-3.20,-52.21,78.80,94,75,1.59
17,Altay,CN,47.83,88.13,15.73,96,100,2.15
18,Ambilobe,MG,-13.19,49.05,74.79,94,92,1.88
19,Ambulu,ID,-8.35,113.61,81.14,79,100,4.36
20,Ancud,CL,-41.87,-73.83,62.60,59,40,8.05
21,Antigonish,CA,45.62,-61.99,30.00,79,1,6.93
22,Antofagasta,CL,-23.65,-70.40,68.00,77,75,14.99
23,Aquiraz,BR,-3.90,-38.39,86.00,78,40,4.70
24,Arica,CL,-18.48,-70.32,71.60,73,75,4.70
25,Arlit,NE,18.74,7.39,58.12,28,0,10.16
26,Arman,RU,59.70,150.17,15.42,70,100,14.05
27,Arraial do Cabo,BR,-22.97,-42.02,78.80,88,11,10.29
28,Asosa,ET,10.07,34.53,68.99,35,55,6.78
29,Astoria,US,46.19,-123.83,48.99,93,90,3.36

In [17]:
by_latitude = new_index.sort_values("Latitude", ascending=False).reset_index(drop=True)

In [18]:
by_latitude.head(30)

,City,Country,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed
0,Longyearbyen,NO,78.22,15.63,1.40,70,0,3.36
1,Qaanaaq,GL,77.48,-69.36,-34.58,91,67,3.96
2,Dikson,RU,73.51,80.55,12.49,91,100,26.64
3,Upernavik,GL,72.79,-56.15,4.60,95,100,23.00
4,Khatanga,RU,71.98,102.47,-17.48,84,99,11.14
5,Saskylakh,RU,71.97,114.09,-33.72,95,0,9.82
6,Tiksi,RU,71.64,128.87,-20.29,87,100,9.86
7,Mehamn,NO,71.03,27.85,23.94,79,100,20.18
8,Havoysund,NO,71.00,24.66,26.60,58,75,28.86
9,Honningsvag,NO,70.98,25.97,28.85,72,100,22.06
10,Chokurdakh,RU,70.62,147.90,-28.64,79,50,2.17
11,Clyde River,CA,70.47,-68.59,-13.00,69,75,14.99
12,Pevek,RU,69.70,170.27,-21.86,99,100,5.37
13,Talnakh,RU,69.49,88.39,3.20,84,75,31.32
14,Tuktoyaktuk,CA,69.44,-133.03,-13.00,75,90,9.17
15,Leningradskiy,RU,69.38,178.42,-17.81,92,100,21.56
16,Deputatskiy,RU,69.30,139.90,-23.91,65,71,1.23
17,Storsteinnes,NO,69.24,19.23,28.40,92,100,9.17
18,Ilulissat,GL,69.22,-51.10,15.80,66,100,28.86
19,Qasigiannguit,GL,68.82,-51.19,15.80,66,100,28.86
20,Cherskiy,RU,68.75,161.30,-34.74,100,65,3.74
21,Belaya Gora,RU,68.54,146.19,-30.73,75,0,2.13
22,Aklavik,CA,68.22,-135.01,-13.00,68,90,4.83
23,Bilibino,RU,68.06,166.44,-33.92,100,92,0.47
24,Ostrovnoy,RU,68.05,39.51,26.42,80,100,16.82
25,Kiruna,SE,67.86,20.23,17.60,92,100,4.70
26,Verkhoyansk,RU,67.55,133.39,-30.15,77,63,1.70
27,Komsomolskiy,RU,67.55,63.78,11.97,92,100,17.94
28,Igarka,RU,67.47,86.57,2.16,88,100,19.10
29,Udachnyy,RU,66.42,112.40,-34.60,65,0,4.47

In [21]:
by_country = new_index.sort_values("Country", ascending=True).reset_index(drop=True)

In [22]:
by_country.head(30)

,City,Country,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed
0,Camabatela,AO,-8.19,15.37,63.54,98,98,3.15
1,Cabinda,AO,-5.56,12.19,80.60,85,70,5.37
2,Ondjiva,AO,-17.07,15.73,69.60,87,100,4.63
3,Ushuaia,AR,-54.81,-68.31,51.80,43,40,27.51
4,Rawson,AR,-43.30,-65.11,62.04,81,4,10.27
5,Lujan,AR,-46.57,-67.67,59.50,60,11,15.21
6,Necochea,AR,-38.55,-58.74,67.12,94,100,8.75
7,Viedma,AR,-40.81,-62.99,68.09,89,85,6.53
8,Barrow,AR,-38.31,-60.23,70.03,92,100,4.54
9,La Asuncion,AR,-26.05,-65.39,63.54,85,69,6.93
10,San Luis,AR,-33.30,-66.34,84.97,43,0,11.63
11,San Juan,AR,-31.54,-68.53,92.35,26,0,13.11
12,Mar del Plata,AR,-46.43,-67.52,59.50,60,11,15.21
13,Wanning,AT,48.64,13.53,33.01,92,75,4.70
14,Katherine,AU,-14.47,132.26,89.60,55,16,11.41
15,Mount Isa,AU,-20.73,139.49,95.67,27,3,4.34
16,Sawtell,AU,-30.38,153.10,84.20,48,2,18.34
17,Batemans Bay,AU,-35.71,150.18,98.01,15,1,1.99
18,Jamestown,AU,-33.21,138.60,67.12,34,22,12.55
19,Esperance,AU,-33.86,121.89,62.60,63,2,8.05
20,Mount Gambier,AU,-37.83,140.78,62.60,55,62,16.11
21,Codrington,AU,-28.95,153.24,84.20,51,40,9.17
22,Maningrida,AU,-12.05,134.23,89.82,60,100,6.11
23,Bluff,AU,-23.58,149.07,79.70,55,74,8.41
24,Broken Hill,AU,-31.97,141.45,68.00,42,0,27.51
25,Charters Towers,AU,-20.07,146.27,87.75,33,3,7.67
26,Bundaberg,AU,-24.87,152.35,82.00,69,40,8.05
27,Busselton,AU,-33.64,115.35,71.01,40,0,4.59
28,Byron Bay,AU,-28.65,153.62,81.00,65,75,14.99
29,Kununurra,AU,-15.77,128.74,86.00,74,64,2.24

In [26]:
by_maxtemp = new_index.sort_values("Max Temp", ascending=False).reset_index(drop=True)

In [27]:
by_maxtemp.head(20)

,City,Country,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed
0,Nelson Bay,AU,-32.72,152.14,102.00,22,15,8.05
1,Batemans Bay,AU,-35.71,150.18,98.01,15,1,1.99
2,Mount Isa,AU,-20.73,139.49,95.67,27,3,4.34
3,San Juan,AR,-31.54,-68.53,92.35,26,0,13.11
4,Kerema,PG,-7.96,145.78,90.84,53,14,4.12
5,Maningrida,AU,-12.05,134.23,89.82,60,100,6.11
6,Katherine,AU,-14.47,132.26,89.60,55,16,11.41
7,Merauke,ID,-8.49,140.40,89.55,59,45,3.11
8,Cairns,AU,-16.92,145.77,88.00,62,40,11.41
9,San Patricio,PY,-26.98,-56.83,88.00,34,100,4.90
10,Escuintla,GT,14.29,-90.78,87.80,58,5,6.93
11,Charters Towers,AU,-20.07,146.27,87.75,33,3,7.67
12,Daru,PG,-9.07,143.21,87.12,63,37,5.97
13,Acapulco,MX,16.86,-99.88,86.00,70,40,2.91
14,Aquiraz,BR,-3.90,-38.39,86.00,78,40,4.70
15,Puerto Quijarro,BO,-19.00,-57.72,86.00,70,90,2.35
16,Ahipara,NZ,-35.17,173.16,86.00,64,2,18.16
17,Benjamin Aceval,PY,-24.97,-57.57,86.00,66,20,3.22
18,Kununurra,AU,-15.77,128.74,86.00,74,64,2.24
19,Papara,BR,-3.98,-38.73,86.00,78,40,4.70

In [23]:
by_country.to_html("weather_data_by_country.html", index=True)

In [24]:
by_latitude.to_html("weather_data_by_latitude.html", index=True)

In [25]:
new_index.to_html("weather_data_by_city.html", index=True)

In [28]:
by_maxtemp.to_html("weather_data_by_maxtemp", index=True)